#sidebar_first {
  .block {
    margin-bottom: 2em;
    background: #fafafa;
    .content {
      padding: 0 1em 1em;
      font-size: .8rem;
      line-height: 1.5;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  h2 {
    font-size: 1em;
    margin-top: 0;
    background: $color-azul;
    color: $color-blanco;
    line-height: 2;
    padding: 0 1em;
    font-weight: $normal;
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    li {
      list-style: none;
      margin: 0 0 .3em;
      padding-left: 1em;
    }
    .active {
      background: $color-rojo;
      color: #fff;
      display: block;
      padding: 0 1em;
      line-height: 2;
      margin-left: -1em;
    }

  }

  #block-og-extras-node-links {
    .item-list {
      ul {
        margin: 0;
        padding-left: 0;
      }
      li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      a {
        display: block;
        background: $color-rojo;
        color: #fff;
        text-align: center;
        line-height: 3rem;
        opacity: .8;
        text-transform: uppercase;
        font-weight: $light;
        &:hover{
          opacity: 1;
        }
        &:before {
          content: "Añadir "
        }
      }
    }
  }
}